src/assets/transfdirecta.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.soap.arquitectura.espe.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.soap.arquitectura.espe.edu.ec/" name="TransferenciaWs">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.soap.arquitectura.espe.edu.ec/" schemaLocation="http://40.87.45.204:8080/Modulo-Cuentas-Pll-web/TransferenciaWs?xsd=1"/>
</xsd:schema>
</types>
<message name="TransferenciaE">
<part name="parameters" element="tns:TransferenciaE"/>
</message>
<message name="TransferenciaEResponse">
<part name="parameters" element="tns:TransferenciaEResponse"/>
</message>
<message name="Transferencia">
<part name="parameters" element="tns:Transferencia"/>
</message>
<message name="TransferenciaResponse">
<part name="parameters" element="tns:TransferenciaResponse"/>
</message>
<message name="Historico">
<part name="parameters" element="tns:Historico"/>
</message>
<message name="HistoricoResponse">
<part name="parameters" element="tns:HistoricoResponse"/>
</message>
<portType name="TransferenciaWs">
<operation name="TransferenciaE">
<input wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/TransferenciaERequest" message="tns:TransferenciaE"/>
<output wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/TransferenciaEResponse" message="tns:TransferenciaEResponse"/>
</operation>
<operation name="Transferencia">
<input wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/TransferenciaRequest" message="tns:Transferencia"/>
<output wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/TransferenciaResponse" message="tns:TransferenciaResponse"/>
</operation>
<operation name="Historico">
<input wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/HistoricoRequest" message="tns:Historico"/>
<output wsam:Action="http://ws.soap.arquitectura.espe.edu.ec/TransferenciaWs/HistoricoResponse" message="tns:HistoricoResponse"/>
</operation>
</portType>
<binding name="TransferenciaWsPortBinding" type="tns:TransferenciaWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="TransferenciaE">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Transferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Historico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransferenciaWs">
<port name="TransferenciaWsPort" binding="tns:TransferenciaWsPortBinding">
<soap:address location="http://40.87.45.204:8080/Modulo-Cuentas-Pll-web/TransferenciaWs"/>
</port>
</service>
</definitions>